:root {
  --color-primary: #272a31;
  --color-secondary: #d3d3d3;
  --color-tertiary: #ec5242; }

@font-face {
  font-family: 'Cocogoose-Regular';
  src: url("fonts/Cocogoose-Pro-trial.ttf"); }

@font-face {
  font-family: 'Cocogoose-light';
  src: url("fonts/Cocogoose-Pro-light-trial.ttf"); }

@font-face {
  font-family: 'Cocogoose-thin';
  src: url("fonts/Cocogoose-Pro-thin-trial.ttf"); }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-primary);
  background: var(--color-secondary); }
