footer {
  padding: 3rem 1.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  width: 100%;


  .footer__logo {
    img {
      width: 6rem;
      height: auto;
      object-fit: contain;
    }

    p {
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--color-tertiary);
      font-style: italic;
    }
  }

  p {
    font-size: 1.2rem;
  }
}

.footer {
  &__copy {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
  }

  &__desc {
    font-size: 1.2rem;
  }
}

.nav {
  padding: 1.6rem 0;

  &__container {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11;
    padding: 1.6rem;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);

    @media (min-width: 768px) {
      top: 4rem;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: #fff;
      backdrop-filter: none;

      #toggle-nav {
        display: none;
      }
    }
  }

  &__socials {
    display: none;
    background-color: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;

    @media screen and (min-width: 768px) {
      display: block;
    }

    div {
      width: 100%;
      max-width: 120rem;
      margin: 0 auto;
      display: flex;
      padding: 0.6rem;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;
    }

    img {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1.6rem;
      fill: rebeccapurple;
    }

    a {
      text-decoration: none;
    }

    p {
      font-size: 1.2rem;
      font-weight: 700;
      color: #fff;
    }
  }

  &__menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    right: -100%;
    background-color: var(--color-primary);
    backdrop-filter: blur(5px);
    z-index: 4;
    transition: all 0.3s ease-in-out;

    @media screen and (min-width: 768px) {
      position: static;
      background-color: transparent;
      height: 100%;
      backdrop-filter: none;

      #close-nav {
        display: none;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-right: 1.6rem;
    margin-top: 5rem;

    li {
      list-style: none;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      margin-top: 0;

      .box {
        padding: 0.3rem 1rem;
        border: 3px solid var(--color-tertiary);
      }
    }
  }

  &__link {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    @media screen and (min-width: 768px) {
      color: var(--color-primary);
      text-transform: none;
    }
  }

  &__show {
    right: 0;
    text-decoration: navajowhite;
  }

  &__logo {
    display: none;

    &::after {
      content: "Crypto-con";
      font-size: 1.6rem;
      font-weight: 700;
      position: relative;
      bottom: 1.3rem;
      padding-left: 1.3rem;
      text-transform: uppercase;
      color: var(--color-tertiary);
      font-style: italic;
    }

    @media screen and (min-width: 768px) {
      display: block;
      text-decoration: none;

      img {
        width: 4rem;
        height: 4rem;
        margin-left: 1.6rem;
      }
    }
  }
}

#toggle-nav {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#close-nav {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  fill: white;
}

.hero {
  background: url("/img/hero.png") no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) {
    min-height: 100vh;
    max-height: 90rem;
  }

  &__container {
    padding: 1.6rem 1.6rem 6rem 1.6rem;
    position: relative;
    top: 4rem;

    @media screen and (min-width: 768px) {
      top: 10rem;
      max-width: 80rem;
      margin: 0 auto;
    }
  }

  &__hello {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-tertiary);

    @media screen and (min-width: 768px) {
      font-size: 2.4rem;
    }
  }

  &__headline {
    background-image: url("../img/headline.jpg");
    background-position: bottom;
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    h1 {
      font-family: 'Cocogoose-Regular', sans-serif;
      text-transform: uppercase;
      font-size: 4rem;
      line-height: 1.1;
      font-weight: bolder;
      color: var(--color-tertiary);

      span {
        font-family: 'Lato', sans-serif;
      }
    ;

      @media screen and (min-width: 768px) {
        font-size: 6rem;
        margin-bottom: 2rem;
      }
    }
  }

  &__welcome {
    backdrop-filter: blur(5px);
    margin-top: 0.8rem;
    font-size: 1.6rem;
    line-height: 1.5;
    border: solid 2px #fff;
    padding: 1.6rem;

    @media screen and (min-width: 768px) {
      margin-bottom: 3rem;
    }
  }

  &__date {
    margin-top: 0.8rem;
    font-family: 'Lato', sans-serif;
    font-size: 2.2rem;
    font-weight: bolder;
  }

  &__location {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.program {
  background-image: url("../img/main-program-bg.png");

  &__container {
    padding: 1.6rem;
    text-align: center;

    h2 {
      font-size: 2.2rem;
      font-weight: bolder;
      color: #fff;
    }

    hr {
      width: 60px;
      border: solid 1px var(--color-tertiary);
      margin: 1rem auto;
    }

    button {
      font-size: 1.6rem;
      font-weight: bolder;
      color: #fff;
      background: var(--color-tertiary);
      border: none;
      padding: 1.6rem;
      cursor: pointer;
      margin: 2rem auto;
    }
  }

  &__content {
    margin-top: 4rem;

    @media screen and (min-width: 768px) {
      max-width: 80rem;
      margin: 4rem auto;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 4rem 5rem 1fr;
    grid-auto-rows: 1fr;
    background: rgba(204, 204, 204, 0.2);
    justify-content: center;
    align-items: center;
    margin-bottom: 1.6rem;
    padding: 1rem;
    gap: 1.6rem;
    text-align: left;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
    }

    img {
      width: 40px;
      height: 40px;
    }

    h3 {
      margin-right: 1.6rem;
      font-size: 1.2rem;
      font-weight: 700;
      color: var(--color-tertiary);

      @media screen and (min-width: 768px) {
        margin-right: 0;
        font-size: 1.8rem;
      }
    }

    p {
      font-size: 1.2rem;
      color: #fff;
      line-height: 1.2;

      @media screen and (min-width: 768px) {
        font-size: 1.4rem;
      }
    }
  }
}

.sponsors {
  background-color: var(--color-primary);

  &__container {
    padding: 4rem 1.6rem;
    text-align: center;

    h2 {
      color: #fff;
      font-size: 2.2rem;
      font-weight: bolder;
    }

    hr {
      width: 60px;
      border: solid 1px var(--color-tertiary);
      margin: 1rem auto;
    }
  }

  &__content {
    margin: 3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    img {
      width: 150px;
      height: auto;
      object-fit: contain;
    }
  }
}

.speakers {
  background-color: #fff;

  &__container {
    padding: 4rem 1.6rem;
    text-align: center;

    h2 {
      font-size: 2.2rem;
      font-weight: bolder;
    }

    hr {
      width: 60px;
      border: solid 1px var(--color-tertiary);
      margin: 1rem auto;
    }
  }

  &__content {
    margin: 3rem 0;
    text-align: left;

    @media screen and (min-width: 768px) {
      max-width: 80rem;
      margin: 4rem auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    .speaker {
      display: grid;
      grid-template-columns: 100px 1fr;
      align-items: center;
      gap: 1.6rem;
      margin-bottom: 2rem;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        align-self: start;
        border-radius: 50%;
      }

      div {
        h3 {
          font-size: 1.7rem;
        }

        h4 {
          font-style: italic;
          color: var(--color-tertiary);
        }

        hr {
          width: 30px;
          margin-left: 0;
          border: 1px solid var(--color-secondary);
        }

        p {
          font-size: 1.3rem;
          line-height: 1.3;
        }
      }
    }
  }
}
